.logo {
	height: 80px;
	width: 80px;
}
.ch {
	height: 300px;
	width: 300px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px 10px 10px 10px;
}
.imgslide {
	margin-right: auto;
	margin-left: auto;
}
body {
	padding: 15px;
	background-color: #d2c5c5;
}
h1 {
	text-align: center;
}
button {
	float: right;
}
nav {
	margin-bottom: auto;
	margin-top: auto;
}